.box1{
    width: 180px;
    height: 250px;
    background-color: rgb(255, 201, 7);
    margin-left: 500px;
    
   
}
.box1 label {
    padding-left: 19px;
    
}
.box1 input{
    margin-left: 19px;
    width: 120px;
  
}
.box1 button{
    margin-left: 25px;
    margin-top: 32px;
    background-color: green;
    border: none;
    border-radius: 5px;
    color: white;
    height: 40px;
    width: 120px;
}
@media screen and (max-width:600px) {
    .box1{
        margin-left: 120px;
        
    }
}